Source: hello
Maintainer: Jim Barritt <jmdb@nanga-parbat.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Greetings
 says hello